<h1>Login</h1>
<div class="container">
  <div class="alert-warning" *ngIf='invalidLogin'>{{ errorMessage }}</div>
  <div>
    User Name : <input type="text" name="username" [(ngModel)]="username">
    Password : <input type="password" name="password" [(ngModel)]="password">

    <button (click)=handleLogin() class="btn btn-success">login</button>
  </div>
</div>
