<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
      <a href="#" class="navbar-brand">Todo</a>
    </div>
    <ul class="navbar-nav">
      <li>
        <a *ngIf='hardAuth.isUserLoggedIn();' routerLink="/welcome/anas" class="nav-link">Home</a>
      </li>
      <li>
        <a *ngIf='hardAuth.isUserLoggedIn();' routerLink="/listTodo" class="nav-link">Todos</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a *ngIf='!hardAuth.isUserLoggedIn();' routerLink="/login" class="nav-link">login</a>
      </li>
      <li>
        <a *ngIf='hardAuth.isUserLoggedIn();' routerLink="/logout" class="nav-link">logOut</a>
      </li>
    </ul>
  </nav>
</header>
