<h1>My Todos</h1>
<div class="container">
  <table class="table">
    <thead>
      <th>id</th>
      <th>description</th>
      <th>TargetDate</th>
      <th>is Completed ?</th>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{ todo.id}}</td>
        <td>{{ todo.description}}</td>
        <td>{{ todo.targetDate | date}}</td>
        <td>{{ todo.done}}</td>
      </tr>
    </tbody>
  </table>
</div>
